# Puerto donde correrá la API
PORT=

# Host de la base de datos PostgreSQL
DB_HOST=

# Puerto de la base de datos PostgreSQL
DB_PORT=

# Nombre de la base de datos
DB_NAME=

# Usuario de PostgreSQL
DB_USER=

# Contraseña del usuario de PostgreSQL
DB_PASSWORD=

# Clave secreta para firmar los tokens JWT
JWT_SECRET=

# Tiempo de expiración del token JWT
JWT_EXPIRES_IN=1d